@tailwind base;
@tailwind components;
@tailwind utilities;

.festive-border {
  background: repeating-linear-gradient(
    45deg,
    #dc2626,
    #dc2626 10px,
    #16a34a 10px,
    #16a34a 20px
  );
  padding: 4px;
}
